BODY {
    MIN-HEIGHT: 500px;
    FONT: 12px/1.5 Arial;
    BACKGROUND: #f7f7f7;
    COLOR: #666
}

A {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    COLOR: #333333;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px;
    TEXT-DECORATION: none
}

A:hover {
    TEXT-DECORATION: underline
}

.alink A {
    TEXT-DECORATION: underline
}

.link {
    TEXT-DECORATION: underline
}

.top {
    MARGIN: 0px auto;
    WIDTH: 960px
}

.nav {
    MARGIN: 0px auto;
    WIDTH: 960px
}

.main {
    MARGIN: 0px auto;
    WIDTH: 960px
}

.footer {
    MARGIN: 0px auto;
    WIDTH: 960px
}

#top {
    BACKGROUND: #ffffff
}

.main {
    BORDER-BOTTOM: #e5e5e5 1px solid;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

.tr1 TD {
    BORDER-BOTTOM: #ddd 1px dotted;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 5px
}

.td1 {
    BORDER-BOTTOM: #ddd 1px dotted;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 5px
}

.td2 {
    BORDER-BOTTOM: #ddd 1px dotted
}

.tre TD {
    BORDER-BOTTOM: 0px;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 5px
}

.tip {
    BORDER-BOTTOM: #cfcec9 1px solid;
    POSITION: relative;
    BORDER-LEFT: #cfcec9 1px solid;
    PADDING-BOTTOM: 8px;
    LINE-HEIGHT: 18px;
    BACKGROUND-COLOR: #ffc;
    MARGIN: 5px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    COLOR: #666;
    BORDER-TOP: #cfcec9 1px solid;
    BORDER-RIGHT: #cfcec9 1px solid;
    PADDING-TOP: 8px
}

.tip P {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 40px;
    PADDING-TOP: 0px
}

.tip_close {
    POSITION: absolute;
    WIDTH: 42px;
    DISPLAY: block;
    BACKGROUND: url(close.png) no-repeat left bottom;
    HEIGHT: 15px;
    TOP: 7px;
    RIGHT: 7px;
    _right: 12px
}

.tip_close SPAN {
    DISPLAY: none
}

.list_A {
    MIN-WIDTH: 100px;
    ZOOM: 1;
    FLOAT: left
}

.list_A LI {
    LINE-HEIGHT: 24px;
    WHITE-SPACE: nowrap;
    HEIGHT: 22px;
    CLEAR: both;
    OVERFLOW: hidden;
    CURSOR: default
}

.list_A .current {
    COLOR: #008800
}

.list_A LI:hover {
    COLOR: #008800
}

UNKNOWN {
    COLOR: #008800
}

.list_80 {

}

.list_80 LI {
    WIDTH: auto;
    FLOAT: left;
    CLEAR: none;
    MARGIN-RIGHT: 10px
}

.tipcnt {
    BORDER-BOTTOM: #dcdcdc 1px solid;
    BORDER-LEFT: #dcdcdc 1px solid;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    BACKGROUND: #fff;
    BORDER-TOP: #dcdcdc 1px solid;
    BORDER-RIGHT: #dcdcdc 1px solid;
    PADDING-TOP: 0px;
    width: 97%
}

.tipcnt .title {
    BORDER-BOTTOM: #eee 1px solid;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    FONT-FAMILY: "΢���ź�";
    COLOR: #000;
    FONT-SIZE: 13px;
    PADDING-TOP: 5px
}

.tipcnt .tis {
    PADDING-BOTTOM: 8px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 8px
}

.vip_off {
    BORDER-BOTTOM: #dcdcdc 1px solid;
    BORDER-LEFT: #dcdcdc 1px solid;
    PADDING-BOTTOM: 5px;
    BACKGROUND-COLOR: #fffe9b;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    HEIGHT: 50px;
    BORDER-TOP: #dcdcdc 1px solid;
    BORDER-RIGHT: #dcdcdc 1px solid;
    PADDING-TOP: 5px
}

.viplevel_1 {
    TEXT-INDENT: -1000px;
    WIDTH: 30px;
    DISPLAY: block;
    BACKGROUND: url(v1.gif) no-repeat 0px 0px;
    HEIGHT: 20px;
    OVERFLOW: hidden
}

.viplevel_2 {
    TEXT-INDENT: -1000px;
    WIDTH: 30px;
    DISPLAY: block;
    BACKGROUND: url(v2.gif) no-repeat 0px 0px;
    HEIGHT: 20px;
    OVERFLOW: hidden
}

.viplevel_3 {
    TEXT-INDENT: -1000px;
    WIDTH: 30px;
    DISPLAY: block;
    BACKGROUND: url(v3.gif) no-repeat 0px 0px;
    HEIGHT: 20px;
    OVERFLOW: hidden
}

.viplevel_4 {
    TEXT-INDENT: -1000px;
    WIDTH: 30px;
    DISPLAY: block;
    BACKGROUND: url(v4.gif) no-repeat 0px 0px;
    HEIGHT: 20px;
    OVERFLOW: hidden
}

.viplevel_5 {
    TEXT-INDENT: -1000px;
    WIDTH: 30px;
    DISPLAY: block;
    BACKGROUND: url(v5.gif) no-repeat 0px 0px;
    HEIGHT: 20px;
    OVERFLOW: hidden
}

.viplevel_6 {
    TEXT-INDENT: -1000px;
    WIDTH: 30px;
    DISPLAY: block;
    BACKGROUND: url(v6.gif) no-repeat 0px 0px;
    HEIGHT: 20px;
    OVERFLOW: hidden
}

.vipisnot {
    FILTER: gray
}

.pw_menu {
    BORDER-BOTTOM: #960000 1px solid;
    BORDER-LEFT: #960000 1px solid;
    PADDING-BOTTOM: 1px;
    PADDING-LEFT: 1px;
    PADDING-RIGHT: 1px;
    BACKGROUND: #fff;
    BORDER-TOP: #960000 1px solid;
    BORDER-RIGHT: #960000 1px solid;
    PADDING-TOP: 1px
}

.pw_menuBg {
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 0px
}

.pw_menu H6 {
    BORDER-BOTTOM: #960000 0px solid;
    POSITION: absolute;
    BORDER-LEFT: #960000 1px solid;
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 18px;
    MARGIN-TOP: -18px;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 5px;
    WHITE-SPACE: nowrap;
    BACKGROUND: #fff;
    HEIGHT: 17px;
    BORDER-TOP: #960000 1px solid;
    RIGHT: -1px;
    BORDER-RIGHT: #960000 1px solid;
    PADDING-TOP: 0px
}

.pw_menu H6 {
    MARGIN-TOP: -20px;
    HEIGHT: 19px
}

.pw_menu H6 A:hover {
    TEXT-DECORATION: none
}

.pw_menu H6 IMG {
    MARGIN-TOP: 2px
}

.vipmList {
    WIDTH: 112px;
    BACKGROUND: #fff
}

.vipmList LI {
    WIDTH: 100%
}

.vipmList A {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 24px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    DISPLAY: block;
    HEIGHT: 24px;
    OVERFLOW: hidden;
    PADDING-TOP: 0px
}

.vipmList A:hover {
    BACKGROUND: url(nav.png) #e6f2fe no-repeat 0px -130px;
    COLOR: #fff;
    TEXT-DECORATION: none
}

.vipmList IMG {
    WHITE-SPACE: nowrap;
    MARGIN-LEFT: -5px;
    VERTICAL-ALIGN: middle;
    MARGIN-RIGHT: 5px;
    _margin-top: 4px
}

.vipmList {
    WIDTH: 112px;
    BACKGROUND: #fff
}

.vipmList2 LI {
    WIDTH: 100%
}

.vipmList2 A {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 24px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    DISPLAY: block;
    HEIGHT: 24px;
    OVERFLOW: hidden;
    PADDING-TOP: 0px
}

.vipmList2 A:hover {
    BACKGROUND: url(nav.png) #e6f2fe repeat-x 0px -156px;
    COLOR: #fff;
    TEXT-DECORATION: none
}

.vipmList2 IMG {
    WHITE-SPACE: nowrap;
    MARGIN-LEFT: -5px;
    VERTICAL-ALIGN: middle;
    MARGIN-RIGHT: 5px;
    _margin-top: 4px
}

.menu-half {
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 5px
}

.menu-half LI {
    PADDING-BOTTOM: 3px;
    TEXT-INDENT: 1.5em;
    PADDING-LEFT: 0px;
    WIDTH: 49%;
    PADDING-RIGHT: 0px;
    FLOAT: left;
    HEIGHT: 19px;
    OVERFLOW: hidden;
    PADDING-TOP: 3px
}

.menu-half LI A {
    FLOAT: left
}

.exp {
    BORDER-BOTTOM: #ddd 1px solid;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 1;
    MARGIN-TOP: 10px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px;
    BORDER-TOP: #ddd 1px solid;
    PADDING-TOP: 10px
}

.menu_half LI {
    WIDTH: 49.5%;
    FLOAT: left
}

.sort_1 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px 0px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_2 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -24px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_3 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -48px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_4 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -72px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_5 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -96px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_6 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -120px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_7 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -144px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_8 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -168px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_9 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -192px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_10 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -216px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_11 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -240px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_12 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -264px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_13 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -288px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_14 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -312px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.sort_15 {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(sort.gif) no-repeat 0px -336px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.year_yes {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(icon.gif) no-repeat 0px 0px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.year_no {
    TEXT-INDENT: -1000px;
    WIDTH: 16px;
    DISPLAY: block;
    BACKGROUND: url(icon.gif) no-repeat 0px -30px;
    HEIGHT: 16px;
    OVERFLOW: hidden
}

.exps_up {
    TEXT-INDENT: -1000px;
    WIDTH: 9px;
    DISPLAY: block;
    BACKGROUND: url(icon.gif) no-repeat 0px -60px;
    HEIGHT: 13px;
    OVERFLOW: hidden
}

.exps_down {
    TEXT-INDENT: -1000px;
    WIDTH: 9px;
    DISPLAY: block;
    BACKGROUND: url(icon.gif) no-repeat 0px -90px;
    HEIGHT: 13px;
    OVERFLOW: hidden
}

.act_img IMG {
    BORDER-BOTTOM: #ddd 1px solid;
    BORDER-LEFT: #ddd 1px solid;
    BORDER-TOP: #ddd 1px solid;
    BORDER-RIGHT: #ddd 1px solid
}

.act_info {
    HEIGHT: 50px;
    OVERFLOW: hidden
}

.act_no {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 25px;
    PADDING-LEFT: 25px;
    PADDING-RIGHT: 25px;
    FONT-FAMILY: "΢���ź�";
    COLOR: #000;
    FONT-SIZE: 14px;
    OVERFLOW: hidden;
    FONT-WEIGHT: 700;
    PADDING-TOP: 25px
}

.act_but {
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 5px
}

.money {
    WIDTH: 15px;
    HEIGHT: 15px
}

.del_img {
    MARGIN-TOP: 1px;
    TEXT-INDENT: -2000em;
    WIDTH: 17px;
    DISPLAY: block;
    BACKGROUND: url(index_icon.png) 0px -80px;
    HEIGHT: 17px;
    OVERFLOW: hidden
}

.del_img:hover {
    BACKGROUND-POSITION: -17px -80px
}

.vipexp_tip {
    BORDER-BOTTOM: #86cfff 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #86cfff 1px solid;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #86cfff 1px solid;
    FONT-WEIGHT: 700;
    BORDER-RIGHT: #86cfff 1px solid;
    PADDING-TOP: 2px
}

.help_qa DT {
    PADDING-BOTTOM: 0px;
    MARGIN: 15px 15px 0px 20px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(icon.gif) #fffaf1 no-repeat 0px -113px;
    COLOR: #a00;
    PADDING-TOP: 5px
}

.help_qa DD {
    PADDING-BOTTOM: 5px;
    MARGIN: 0px 15px 20px 20px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(icon.gif) #fff no-repeat 0px -146px;
    PADDING-TOP: 5px
}

#footer {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 12px;
    LINE-HEIGHT: 24px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    BACKGROUND: #f7f7f7;
    COLOR: #666;
    PADDING-TOP: 12px
}

#footer P.info A {
    COLOR: #666;
    MARGIN-RIGHT: 10px
}

#footer P.info A:hover {
    COLOR: #000
}

#footer P.copy A {
    COLOR: #666
}

#footer P.copy A:hover {
    COLOR: #000
}

#footer SPAN {
    COLOR: #999;
    MARGIN-RIGHT: 10px
}

.colorfocus {
    border: 1px #86a1ba double;
    background-color: #fff8e6;
}

.colorblur {
    border: 1px #86a1ba double;
    background-color: #ffffff;
}

.button {
    border: 1px #93b9dc solid;
    background: url(button_bg.gif) repeat;
    cursor: hand
}