<div class="clear"></div>
<div class="links">
    <h4>
        友情链接
    </h4>

    <div class="links_list l">
        <@link siteid="${site.id}" classPagemark="yqlj" ;link,index>
        <a href="${link.url}" target="_blank">${link.name}</a>
    </
    @link>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<div class="footer">
    <div class="foot_inner">
        <div class="copyright r">
            <a href="http://www.miibeian.gov.cn/"></a>
        </div>
        <div class="foot_menu">
            Copyright &copy; 2013 Powwer by FreeCMS. |
            <em class="hot">欢迎加入FreeCMS QQ群：44630974</em>
        </div>
    </div>
</div>
</body>
</html>
