<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd
                            ">
    <!--spring 和 hibernate 整合-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!--xml文件中&要换成&amp；-->
        <property name="url"
                  value="jdbc:mysql://localhost/easycms?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull&amp;transformedBitIsBoolean=true"/>
        <property name="username" value="root"/>
        <property name="password" value="wu123456"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingLocations">
            <value>classpath:cn/easycms/model/*.hbm.xml</value>
        </property>
        <property name="packagesToScan">
            <list>
                <value>cn.easycms.model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <!--设置Hibernate属性-->
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.use_sql_comments">true</prop>
                <prop key="hibernate.current_session_context_class">
                    org.springframework.orm.hibernate4.SpringSessionContext
                </prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="leePointcut" expression="execution(* cn.easycms.service..*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="leePointcut"/>
    </aop:config>
    <bean id="daoImplTemplate" abstract="true" lazy-init="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--*DaoImpl-->
    <bean id="UserDaoImpl" class="cn.easycms.dao.UserDaoImpl" parent="daoImplTemplate"/>
    <bean id="FuncDaoImpl" class="cn.easycms.dao.FuncDaoImpl" parent="daoImplTemplate"/>
    <bean id="OperlogsDaoImpl" class="cn.easycms.dao.OperlogsDaoImpl" parent="daoImplTemplate"/>
    <bean id="SiteDaoImpl" class="cn.easycms.dao.SiteDaoImpl" parent="daoImplTemplate"/>
    <bean id="RoleSiteDaoImpl" class="cn.easycms.dao.SiteDaoImpl" parent="daoImplTemplate"/>
    <bean id="RoleDaoImpl" class="cn.easycms.dao.RoleDaoImpl" parent="daoImplTemplate"/>
    <bean id="AdminLinkDaoImpl" class="cn.easycms.dao.AdminLinkDaoImpl" parent="daoImplTemplate"/>
    <bean id="TemplateDaoImpl" class="cn.easycms.dao.TemplateDaoImpl" parent="daoImplTemplate"/>
    <bean id="TemplateChannelDaoImpl" class="cn.easycms.dao.TemplateChannelDaoImpl" parent="daoImplTemplate"/>
    <bean id="TemplateLinkDaoImpl" class="cn.easycms.dao.TemplateLinkDaoImpl" parent="daoImplTemplate"/>
    <bean id="ChannelDaoImpl" class="cn.easycms.dao.ChannelDaoImpl" parent="daoImplTemplate"/>
    <bean id="LinkDaoImpl" class="cn.easycms.dao.LinkDaoImpl" parent="daoImplTemplate"/>
    <bean id="InfoDaoImpl" class="cn.easycms.dao.InfoDaoImpl" parent="daoImplTemplate"/>
    <bean id="OperButtonDaoImpl" class="cn.easycms.dao.OperButtonDaoImpl" parent="daoImplTemplate"/>
    <bean id="HtmlQuartzDaoImpl" class="cn.easycms.dao.HtmlQuartzDaoImpl" parent="daoImplTemplate"/>
    <bean id="InfoImgDaoImpl" class="cn.easycms.dao.InfoImgDaoImpl" parent="daoImplTemplate"/>
    <bean id="InfoSignDaoImpl" class="cn.easycms.dao.InfoSignDaoImpl" parent="daoImplTemplate"/>
    <bean id="QuestionDaoImpl" class="cn.easycms.dao.QuestionDaoImpl" parent="daoImplTemplate"/>
    <bean id="ConfigDaoImpl" class="cn.easycms.dao.ConfigDaoImpl" parent="daoImplTemplate"/>
    <bean id="MailDaoImpl" class="cn.easycms.dao.MailDaoImpl" parent="daoImplTemplate"/>
    <bean id="ReportDaoImpl" class="cn.easycms.dao.ReportDaoImpl" parent="daoImplTemplate"/>
    <bean id="VisitDaoImpl" class="cn.easycms.dao.VisitDaoImpl" parent="daoImplTemplate"/>
    <bean id="GuestbookDaoImpl" class="cn.easycms.dao.GuestbookDaoImpl" parent="daoImplTemplate"/>
    <bean id="CommentDaoImpl" class="cn.easycms.dao.CommentDaoImpl" parent="daoImplTemplate"/>
    <!-- *Service -->
    <bean id="UserService" class="cn.easycms.service.UserService">
        <property name="userDaoImpl" ref="UserDaoImpl"/>
    </bean>
    <bean id="SiteService" class="cn.easycms.service.SiteService">
        <property name="siteDaoImpl" ref="SiteDaoImpl"/>
    </bean>
    <bean id="AdminLinkService" class="cn.easycms.service.AdminLinkService">
        <property name="adminLinkDaoImpl" ref="AdminLinkDaoImpl"/>
    </bean>
    <bean id="OperlogsService" class="cn.easycms.service.OperlogsService">
        <property name="operlogsDaoImpl" ref="OperlogsDaoImpl"/>
    </bean>
    <bean id="FuncService" class="cn.easycms.service.FuncService">
        <property name="funcDaoImpl" ref="FuncDaoImpl"/>
    </bean>
    <bean id="TemplateService" class="cn.easycms.service.TemplateService">
        <property name="templateDaoImpl" ref="TemplateDaoImpl"/>
    </bean>
    <bean id="TemplateChannelService" class="cn.easycms.service.TemplateChannelService">
        <property name="templateChannelDaoImpl" ref="TemplateChannelDaoImpl"/>

    </bean>
    <bean id="TemplateLinkService" class="cn.easycms.service.TemplateLinkService">
        <property name="templateLinkDaoImpl" ref="TemplateLinkDaoImpl"/>

    </bean>
    <bean id="ChannelService" class="cn.easycms.service.ChannelService">
        <property name="channelDaoImpl" ref="ChannelDaoImpl"/>
    </bean>
    <bean id="LinkService" class="cn.easycms.service.LinkService">
        <property name="linkDaoImpl" ref="LinkDaoImpl"/>
    </bean>
    <bean id="InfoService" class="cn.easycms.service.InfoService">
        <property name="infoDaoImpl" ref="InfoDaoImpl"/>
    </bean>
    <bean id="OperButtonService" class="cn.easycms.service.OperButtonService">
        <property name="operButtonDaoImpl" ref="OperButtonDaoImpl"/>
    </bean>
    <bean id="HtmlQuartzService" class="cn.easycms.service.HtmlQuartzService">
        <property name="htmlQuartzDaoImpl" ref="HtmlQuartzDaoImpl"/>
    </bean>
    <bean id="InfoImgService" class="cn.easycms.service.InfoImgService">
        <property name="infoImgDaoImpl" ref="InfoImgDaoImpl"/>
    </bean>
    <bean id="InfoSignService" class="cn.easycms.service.InfoSignService">
        <property name="infoSignDaoImpl" ref="InfoSignDaoImpl"/>
    </bean>
    <bean id="QuestionService" class="cn.easycms.service.QuestionService">
        <property name="questionDaoImpl" ref="QuestionDaoImpl"/>
    </bean>
    <bean id="ConfigService" class="cn.easycms.service.ConfigService">
        <property name="configDaoImpl" ref="ConfigDaoImpl"/>
    </bean>
    <bean id="MailService" class="cn.easycms.service.MailService">
        <property name="mailDaoImpl" ref="MailDaoImpl"/>
    </bean>
    <bean id="ReportService" class="cn.easycms.service.ReportService">
        <property name="reportDaoImpl" ref="ReportDaoImpl"/>
    </bean>
    <bean id="VisitService" class="cn.easycms.service.VisitService">
        <property name="visitDaoImpl" ref="VisitDaoImpl"/>
    </bean>
    <bean id="GuestbookService" class="cn.easycms.service.GuestbookService">
        <property name="guestbookDaoImpl" ref="GuestbookDaoImpl"/>
    </bean>

    <bean id="CommentService" class="cn.easycms.service.CommentService">
        <property name="commentDaoImpl" ref="CommentDaoImpl"/>
    </bean>
    <!--FreeMarkerUtil-->
    <bean id="FreeMarkerUtil" class="cn.easycms.util.FreeMarkerUtil">
        <property name="linkDirective" ref="LinkDirective"/>
        <property name="channelDirective" ref="ChannelDirective"/>
        <property name="channelListDirective" ref="channelListDirective"/>
        <property name="htmlDirective" ref="HtmlDirective"/>
        <property name="infoListDirective" ref="InfoListDirective"/>
        <property name="channelPathDirective" ref="ChannelPathDirective"/>
    </bean>
    <!-- *Action-->
    <bean id="UserAction" class="cn.easycms.action.UserAction" scope="prototype">
        <property name="userService" ref="UserService"/>

        <property name="operlogsService" ref="OperlogsService"/>
    </bean>
    <bean id="operLogAction" class="cn.easycms.action.OperlogAction" scope="prototype">
        <property name="operlogsService" ref="OperlogsService"/>
    </bean>
    <bean id="adminAction" class="cn.easycms.action.AdminAction" scope="prototype">
        <property name="funcService" ref="FuncService"/>
        <property name="siteService" ref="SiteService"/>
        <property name="adminLinkService" ref="AdminLinkService"/>
    </bean>
    <bean id="siteAction" class="cn.easycms.action.SiteAction" scope="prototype">
        <property name="siteService" ref="SiteService"/>
        <property name="operlogsService" ref="OperlogsService"/>
        <property name="templateService" ref="TemplateService"/>
        <property name="templateChannelService" ref="TemplateChannelService"/>
        <property name="templateLinkService" ref="TemplateLinkService"/>
        <property name="linkService" ref="LinkService"/>
        <property name="channelService" ref="ChannelService"/>
        <property name="htmlQuartzService" ref="HtmlQuartzService"/>
        <property name="freeMarkerUtil" ref="FreeMarkerUtil"/>
    </bean>
    <bean id="templateAction" class="cn.easycms.action.TemplateAction" scope="prototype">
        <property name="siteService" ref="SiteService"/>
        <property name="templateChannelService" ref="TemplateChannelService"/>
        <property name="templateLinkService" ref="TemplateLinkService"/>
        <property name="templateService" ref="TemplateService"/>
    </bean>
    <bean id="channelAction" class="cn.easycms.action.ChannelAction" scope="prototype">
        <property name="channelService" ref="ChannelService"/>
        <property name="siteService" ref="SiteService"/>
        <property name="htmlQuartzService" ref="HtmlQuartzService"/>
    </bean>
    <bean id="infoAction" class="cn.easycms.action.InfoAction" scope="prototype">
        <property name="infoService" ref="InfoService"/>
        <property name="channelService" ref="ChannelService"/>
        <property name="infoImgService" ref="InfoImgService"/>
        <property name="infoSignService" ref="InfoSignService"/>
        <property name="userService" ref="UserService"/>
        <property name="operlogsService" ref="OperlogsService"/>
        <property name="siteService" ref="SiteService"/>
        <property name="freeMarkerUtil" ref="FreeMarkerUtil"/>
    </bean>
    <bean id="htmlAction" class="cn.easycms.action.HtmlAction" scope="prototype">
        <property name="channelService" ref="ChannelService"/>
        <property name="siteService" ref="SiteService"/>
        <property name="freeMarkerUtil" ref="FreeMarkerUtil"/>
    </bean>
    <bean id="linkAction" class="cn.easycms.action.LinkAction" scope="prototype">
        <property name="linkService" ref="LinkService"/>
        <property name="operlogsService" ref="OperlogsService"/>
        <property name="siteService" ref="SiteService"/>
    </bean>
    <bean id="questionAction" class="cn.easycms.action.QuestionAction" scope="prototype">
        <property name="questionService" ref="QuestionService"/>
    </bean>
    <bean id="mailAction" class="cn.easycms.action.MailAction" scope="prototype">
        <property name="userService" ref="UserService"/>
        <property name="mailService" ref="MailService"/>
    </bean>
    <bean id="adminLinkAction" class="cn.easycms.action.AdminLinkAction" scope="prototype">
        <property name="adminLinkService" ref="AdminLinkService"/>
        <property name="operlogsService" ref="OperlogsService"/>
    </bean>
    <bean id="reportAction" class="cn.easycms.action.ReportAction" scope="prototype">
        <property name="userService" ref="UserService"/>
        <property name="reportService" ref="ReportService"/>
        <property name="operlogsService" ref="OperlogsService"/>
    </bean>
    <bean id="testAction" class="cn.easycms.action.TestAction" scope="prototype">
        <property name="freeMarkerUtil" ref="FreeMarkerUtil"/>
    </bean>

    <!-- directive-->
    <bean id="channelListDirective" class="cn.easycms.directive.ChannelListDirective">
        <property name="siteService" ref="SiteService"/>
        <property name="channelService" ref="ChannelService"/>
    </bean>
    <bean id="LinkDirective" class="cn.easycms.directive.LinkDirective">
        <property name="linkService" ref="LinkService"/>
        <property name="siteService" ref="SiteService"/>
    </bean>
    <bean id="InfoListDirective" class="cn.easycms.directive.InfoListDirective">
        <property name="channelService" ref="ChannelService"/>
        <property name="infoService" ref="InfoService"/>
        <property name="siteService" ref="SiteService"/>
    </bean>
    <bean id="ChannelDirective" class="cn.easycms.directive.ChannelDirective">
        <property name="channelService" ref="ChannelService"/>
        <property name="siteService" ref="SiteService"/>
    </bean>
    <bean id="HtmlDirective" class="cn.easycms.directive.HtmlDirective">

    </bean>
    <bean id="ChannelPathDirective" class="cn.easycms.directive.ChannelPathDirective">
        <property name="channelService" ref="ChannelService"/>
        <property name="siteService" ref="SiteService"/>
    </bean>

</beans>