* {
    font-size: 12px;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    background: white;
    color: #333333;
    margin-top: 5px;
}

img {
    border: 0;
}

form {
    padding: 0;
    margin: 0;
}

A:link {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 18px;
    TEXT-DECORATION: none
}

A:visited {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 18px;
    TEXT-DECORATION: none
}

A:hover {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 18px;
    TEXT-DECORATION: underline
}

A:active {
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 18px;
    TEXT-DECORATION: underline
}

.reverse a:link, .reverse a:visited, .reverse a:active {
    text-decoration: none;
}

.reverse:hover {
    color: white;
    text-decoration: none;
}

.emphasize {
    font-weight: bold;
}

.clearer {
    font-size: 0px;
    line-height: 0px;
    margin: 0;
    padding: 0;
    clear: both;
    display: block;
    height: 0;
}

.colordiv {
    line-height: 25px;
    text-align: left;
}

.toptitle, .toptitle a:link, .toptitle a:hover, .toptitle a:visited {
    height: 29px;
    line-height: 29px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 0 9px;
    text-decoration: none;
}

.toptitleNoselect, .toptitleNoselect a:link, .toptitleNoselect a:hover, .toptitleNoselect a:visited {
    height: 29px;
    line-height: 29px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 0 9px;
    text-decoration: none;
    background-image: url(bg_top.gif);
}

.toptitleSelect, .toptitleSelect a:link, .toptitleSelect a:hover, .toptitleSelect a:visited {
    height: 29px;
    line-height: 29px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 0 9px;
    text-decoration: none;
    background-image: url(bg_top2.gif);
}

.toptitle_r, .toptitle_r a:link, .toptitle_r a:hover, .toptitle_r a:visited {
    height: 29px;
    line-height: 29px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 0 9px;
    text-decoration: none;
}

.toptitle_r {
    background-image: url(bg_top.gif);
}

.topline {
    HEIGHT: 1px;
}

A:link {
    COLOR: #0a4173;
}

A:visited {
    COLOR: #0a4173;
}

A:hover {
    COLOR: #1274BA;
}

A:active {
    COLOR: #1274BA;
}

.emphasize {
    color: #E83820;
}

.colordiv {
    line-height: 25px;
    background: #F5FBFF;
    text-align: left;
}

.toptitle {
    background-image: url(bg_top.gif);
}

.toptitle_r, .toptitle_r a:link, .toptitle_r a:visited {
    background-image: url(bg_top.gif);
}

.toptitle_r a:hover {
    background-image: url(bg_top2.gif);
}

.topline {
    background-color: #93b9dc
}
